
<div class="col col-centered container" style="margin-top: -30px;">
    <div class="row" style="margin-bottom: 80px">
        <!--h1 align="center" style="font-family: 'Courgette', cursive; font-size: 80px">Colprov</h1-->
    </div>
    <div class="row" style="margin-bottom: 80px">
        <div class="col-md-5">
            <header class="image-bg-fluid-height">
                <%= image_tag("logo2.jpg", :class => "img-responsive") %>
            </header>
        </div>
        <div class="col-md-6">
            <h1 class="section-heading">Nosotros</h1>
            <p class="lead section-lead">Propuesta.</p>
            <p class="section-paragraph">Es una plataforma web para administrar y gestionar tus proveedores, así como lo hacen las grandes empresas y compañías, ayudando a su negocio a crecer en economía, producción e imagen.</p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 80px">
        <div class="col-md-6">
            <h1 class="section-heading">Proveedores</h1>
            <p class="lead section-lead">Importante.</p>
            <p class="section-paragraph">Una adecuada gestión de proveedores es vital para tu negocio, por el gran impacto que tienen tanto en su aspecto productivo como económico.</p>
        </div>
        <div class="col-md-5">
            <header class="image-bg-fluid-height">
                <%= image_tag("http://www.plancentraldelaware.com/wp-content/uploads/2016/11/business-500x300.jpg", :class => "img-responsive") %>
            </header>
        </div>
    </div>
    <div class="row" style="margin-bottom: 80px">
        <div class="col-md-5">
            <header class="image-bg-fluid-height">
                <%= image_tag("http://cdn.wallpapersafari.com/51/5/jBQS1C.jpg", :class => "img-responsive") %>
            </header>
        </div>
        <div class="col-md-6">
            <h1 class="section-heading">Gestión</h1>
            <p class="lead section-lead">Organiza.</p>
            <p class="section-paragraph">Si tu negocio requiere de varios proveedores es imprescindible organizarlos y gestionarlos de forma correcta y controlar los cobros y pagos, así tu negocio se volverá más rentable.</p>
        </div>
    </div>
</div>

<footer class="footer text-muted" style="margin-top: 100px">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Copyright &copy; Colprov 2017</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>
    </nav>
</footer>
